## Условие 2


(на самом деле в условии домашнего задания какой-то косяк с нумераций и дубликатами)


На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
client_dict = {
	"apple": 3,
	"cherry": 5,
	"lemon": 7,
	"orange": 11
}

В условии не уточнено в каком виде будут переданы данные, предположимя, что это будет или словарь или два списка (в одном из них наименование фруктов, а в другом их количество).

Самый простой вариант - получаем данные в словаре:

In [35]:
def calc_sum_dict(user_dict: dict) -> int:
    return sum(user_dict.values())
calc_sum_dict(client_dict)

26

In [56]:
client_key = ['apple', 'cherry', 'lemon', 'orange']
client_values = [3, 5, 7, 11]

client_arr = ['apple', 'cherry', 'lemon', 'orange', 3, 5, 7, 11]

В том случае, если мы можем получить данные или в словаре или в списке, или простым перечислением то...

In [54]:
def calc_sum_uni(*args):
    numbers = []

    for arg in args:
        if isinstance(arg, dict):  
            return sum(arg.values())
        elif isinstance(arg, list):
            numbers.extend([item for item in arg if isinstance(item, (int, float))])
        else:
            numbers.extend([item for item in arg if isinstance(item, (int, float))])

    return sum(numbers)

print(calc_sum_uni(client_key, client_values))
print(calc_sum_uni(client_dict))
print(calc_sum_uni(client_arr))

26
26
26

## Условие 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [58]:
exp_arr = [100, 125, -90, 345, 655, -1, 0, 200]
sum([x for x in exp_arr if x >= 0])

1425

Если нам нужно написать функцию для создания нового списка и потом осуществить подсчет суммы...

In [60]:
def nat_only(user_arr):
    return [x for x in user_arr if x >= 0]

sum(nat_only(exp_arr))

1425

## Условие 4

Даны два списка.

Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']


Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [68]:
p_date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
p_money = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Условие 4.1 
Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

Выручка компании в ноябре:

In [70]:
sum([money for date, money in zip(p_date, p_money) if date.startswith('2021-11')])

25098

### Условие 4.2

Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [77]:

def calc_sum_by_month(dates: list, money: list) -> dict:
    money_by_month = {}

    for date, amount in zip(dates, money):
        month = date.split('-')[1]  
        if month in money_by_month:
            money_by_month[month] += amount
        else:
            money_by_month[month] = amount

    return money_by_month

calc_sum_by_month(p_date, p_money)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}